/* Panda layers: */
@layer reset, base, tokens, recipes, utilities;

/* Custom font: */
@font-face {
  font-family: "GeneralSansMedium";
  src: url("/fonts/GeneralSans/GeneralSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSansSemibold";
  src: url("/fonts/GeneralSans/GeneralSans-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSansBold";
  src: url("/fonts/GeneralSans/GeneralSans-Bold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
