---
import { SEO } from "astro-seo"
import "../styles/index.css"
import { flex } from "../../styled-system/patterns"
import { css } from "../../styled-system/css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Afrânio 2024 | Página inexistente</title>
    <meta name="robots" content="noindex" />
    <SEO
      title="Afrânio 2024"
      description="Site da campanha para vereador de Afrânio (50100) - Florianópolis, SC."
      openGraph={{
        basic: {
          title: "Afrânio 2024",
          type: "website",
          url: "https://vote.afranio.org.br",
          image: "https://vote.afranio.org.br/images/logo-open-graph.png",
        },
        optional: {
          description:
            "Site da campanha para vereador de Afrânio (50100) - Florianópolis, SC.",
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
      extend={{
        meta: [{ name: "title", content: "Afrânio 2024" }],
      }}
    />
  </head>
  <body>
    <div
      class={flex({
        textAlign: "center",
        alignItems: "center",
        justifyContent: "center",
        h: "100vh",
        fontSize: "25px",
      })}
    >
      <p class={css({ m: "20px" })}>
        Este endereço não corresponde a nenhuma tela deste site.
        <a href="./" class={css({ textDecoration: "underline" })}
          >Clique aqui para acessar nossa tela principal.</a
        >
      </p>
    </div>
  </body>
</html>
