---
import "../styles/index.css"
import { css } from "../../styled-system/css"
import { flex } from "../../styled-system/patterns"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Afrânio 2024</title>
    <meta name="robots" content="noindex" />
    <script is:inline src="/scripts/modernizr-custom.js"></script>
  </head>
  <body class={css({ maxW: "1920px", m: "0 auto" })}>
    <header
      class={flex({
        justifyContent: "center",
        alignItems: "flex-end",
        bgColor: "greenHeader",
        h: "headerHeight",
        textAlign: "center",
        pb: "20px",
        "& a": {
          color: "white",
        },
      })}
    >
      <a
        href="https://www.instagram.com/afranioboppre50/"
        target="_blank"
        class={flex({ layerStyle: "socialHeaderLinks" })}
      >
        <img src="/images/social-instagram.svg" />
        <span>Instagram</span></a
      >
      <a
        href="https://www.tiktok.com/@afranioboppre50"
        target="_blank"
        class={flex({ layerStyle: "socialHeaderLinks" })}
      >
        <img src="/images/social-tiktok.svg" />
        <span>TikTok</span></a
      >
      <img
        class={css({ h: "56px", w: "123.254px", mx: "20px", mb: "-5px" })}
        src="/images/psol-logo.svg"
        alt="PSOL"
      />
      <a
        href="https://www.facebook.com/afranioboppre50"
        target="_blank"
        class={flex({ layerStyle: "socialHeaderLinks" })}
      >
        <img src="/images/social-facebook.svg" />
        <span>Facebook</span></a
      >
      <a
        href="https://x.com/afranioboppre50"
        target="_blank"
        class={flex({ layerStyle: "socialHeaderLinks" })}
      >
        <img src="/images/social-twitter.svg" />
        <span>Twitter</span></a
      >
    </header>

    <section
      id="welcome"
      class={flex({
        alignItems: "flex-end",
        bgImage: [
          "url(/images/afranio_ponte_small.webp)",
          "url(/images/afranio_ponte_medium.webp)",
          undefined,
          "url(/images/afranio_ponte_big.webp)",
        ],
        bgRepeat: "no-repeat",
        bgPosition: "center top",
        bgSize: "cover",
        h: [
          "450px",
          "calc(100vh - (var(--sizes-header-height) + var(--sizes-big-image-bottom-white-space)))",
        ],
        maxH: "700px",
        px: "20px",
      })}
    >
      <img
        class={css({
          mx: "auto",
          mb: "calc(-1 * var(--sizes-big-image-bottom-white-space))",
          h: "auto",
          w: ["450px", "550px"],
        })}
        src="/images/logo-big.svg"
        alt="Afrânio 50100"
      />
    </section>

    <section
      id="about"
      class={css({
        py: ["120px 60px", "120px 100px"],
        bgColor: "beigeBg",
      })}
    >
      <div
        class={flex({
          layerStyle: "internalContent",
          alignItems: ["center", "flex-start"],
          flexDirection: ["column", "row"],
        })}
      >
        <h1
          class={css({
            textStyle: "titleFirstLevel",
            color: "redBox",
            flexBasis: [undefined, "40%"],
            p: ["0 0 30px 0", "0 20px 0 0"],
            textAlign: ["center", "left"],
          })}
        >
          Conheça o candidato
        </h1>
        <div
          class={css({
            bgColor: "brownBox",
            mt: "40px",
            rounded: "boxRadius",
            flexBasis: [undefined, "60%"],
          })}
        >
          <h2
            class={css({
              textStyle: "titleSecondLevel",
              bgColor: "redBox",
              color: "white",
              w: "fit-content",
              p: "15px 30px 10px 30px",
              m: ["-25px auto 0 auto", "-40px 0 0 20px"],
              transform: ["none", "rotate(-2deg)"],
            })}
          >
            Ver. Afrânio Boppré
          </h2>
          <div
            class={css({
              p: ["20px 20px 20px 20px", undefined, "20px 50px 30px 50px"],
            })}
          >
            <p
              class={css({
                textStyle: "body",
                color: "white",
                mb: "20px",
              })}
            >
              Afrânio é um lutador. Está presente no dia a dia da cidade. Seja
              na defesa da democracia ou para combater a corrupção, apoiar os
              direitos do povo trabalhador, o serviço público de qualidade ou
              buscar solução para um problema no bairro, você pode contar com
              ele.
            </p>
            <p
              class={css({
                textStyle: "body",
                fontFamily: "GeneralSansBold",
                color: "orangeBox",
              })}
            >
              POR SUA TRAJETÓRIA E ATUAÇÃO EXEMPLAR, AFRÂNIO É UM VEREADOR
              NECESSÁRIO.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div
      class={css({
        bgColor: "beigeBg",
        pb: ["60px", "100px"],
        bgImage: [undefined, "url(/images/bg-florianopolis.svg)"],
        bgRepeat: "no-repeat",
        bgPosition: [undefined, "160% top", "120% top", "110% top"],
        bgSize: [undefined, "90%", "75%", "55%"],
      })}
    >
      <section id="commitments">
        <div
          class={css({
            layerStyle: "internalContent",
          })}
        >
          <h1
            class={css({
              textStyle: "titleFirstLevel",
              textAlign: ["center", "left"],
              color: "brownBox",
              pb: ["40px", "60px"],
            })}
          >
            Compromissos
          </h1>
          <div
            class={css({
              maxW: "internalContentMediumWidth",
              mx: "auto",
            })}
          >
            <h2
              class={css({
                textStyle: "titleSecondLevel",
                bgColor: "orangeBox",
                w: "fit-content",
                p: "10px 10px 2px 10px",
                textAlign: ["center", "left"],
              })}
            >
              CUIDAR DE FLORIANÓPOLIS É A MINHA MISSÃO
            </h2>
            <p
              class={css({
                textStyle: "body",
                color: "brownBox",
                maxW: "700px",
                my: ["20px 40px", "20px 60px"],
              })}
            >
              O papel do vereador é estar atento e trabalhar. Deve se conectar
              com as demandas mais sentidas e imediatas do povo, estar preparado
              para se antecipar aos problemas e apontar caminhos para o futuro
              da cidade. Cuidar das pessoas e do território. Essa missão exige
              desprendimento e muita vontade. É assim que penso e faço.
            </p>
          </div>
          <div
            class={flex({
              maxW: "internalContentMediumWidth",
              mx: "auto",
              gap: ["0", "40px"],
              flexDirection: ["column", "row"],
            })}
          >
            <div
              class={css({
                flexBasis: [undefined, "40%"],
              })}
            >
              <div
                class={css({
                  layerStyle: "basicBox",
                })}
              >
                <h2
                  class={css({
                    bgColor: "greenBox",
                  })}
                >
                  Qualidade de vida
                </h2>
                <p class={css({ bgColor: "orangeBox" })}>
                  Florianópolis pode se desenvolver sem deixar de ser um bom
                  lugar para se viver. O crescimento de uma cidade não
                  necessariamente promove desenvolvimento. Ao contrário, pode
                  até gerar perda de qualidade de vida. O crescimento sem
                  infraestrutura coloca a cidade em um ciclo vicioso. Nosso
                  mandato sempre esteve voltado para a necessidade de quebrar
                  esse ciclo, parar o caos e defender a qualidade de vida na
                  cidade.
                </p>
              </div>
              <div
                class={css({
                  layerStyle: "basicBox",
                })}
              >
                <h2
                  class={css({
                    bgColor: "orangeBox",
                  })}
                >
                  Cultura
                </h2>
                <p class={css({ color: "white", bgColor: "brownBox" })}>
                  Respeitar a diversidade, apoiar eventos de vários setores,
                  defender nossas tradições, patrimônio histórico, folclore,
                  valorizar artistas locais, estimular arte-educação nas
                  comunidades, fortalecer as conferências de cultura, o conselho
                  municipal e lutar pela aplicação do Plano Municipal de Cultura
                  é compromisso do nosso mandato.
                </p>
              </div>
            </div>
            <div
              class={css({
                flexBasis: [undefined, "60%"],
              })}
            >
              <div
                class={css({
                  layerStyle: "basicBox",
                })}
              >
                <h2
                  class={css({
                    bgColor: "redBox",
                    color: "white",
                  })}
                >
                  Democracia e participação social
                </h2>
                <p class={css({ color: "white", bgColor: "blueBox" })}>
                  Não há maneira melhor de viver em sociedade do que a
                  democracia. Democracia é mais do que o ato de votar e ser
                  votado. A participação popular por meio de audiências
                  públicas, tribunas livres, conselhos, orçamento participativo
                  deve ser regra e não favor.
                </p>
              </div>
              <div
                class={css({
                  layerStyle: "basicBox",
                })}
              >
                <h2
                  class={css({
                    bgColor: "orangeBox",
                  })}
                >
                  Transparência e serviço público
                </h2>
                <p class={css({ color: "white", bgColor: "redBox" })}>
                  O serviço público em Florianópolis vem sendo atacado. Saúde,
                  educação, Comcap, mobilidade e saneamento são áreas
                  estratégicas que precisam de boa gestão e compromisso. É
                  NECESSÁRIO garantir transparência para acabar com a corrupção
                  e respeitar a cidadania.
                </p>
              </div>
              <div
                class={css({
                  layerStyle: "basicBox",
                })}
              >
                <h2
                  class={css({
                    bgColor: "black",
                    color: "white",
                  })}
                >
                  Meio ambiente
                </h2>
                <p class={css({ color: "#012116", bgColor: "greenBox" })}>
                  A natureza nos deu farta riqueza. No entanto, a expansão
                  urbana descontrolada e guiada pela lógica de mercado sem
                  planejamento estratégico está minando a qualidade de vida,
                  seja na Ilha ou no Continente. A degradação ambiental da nossa
                  cidade exige mudança de paradigma. O respeito ao meio ambiente
                  é compromisso do nosso mandato.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        id="contact"
        class={css({
          layerStyle: "internalContent",
          my: ["20px 0px", "40px 0px"],
        })}
      >
        <div
          class={flex({
            alignItems: ["center", "flex-start"],
            flexDirection: ["column", "row"],
          })}
        >
          <h1
            class={css({
              textStyle: "titleFirstLevel",
              flexBasis: [undefined, "40%"],
              p: ["0 0 40px 0", "0 20px 0 0"],
              textAlign: ["center", "left"],
              color: "greenHeader",
            })}
          >
            Faça parte da nossa campanha
          </h1>
          <div
            class={css({
              flexBasis: [undefined, "60%"],
            })}
          >
            <p>
              Aguardando definição do Hiago se ele irá desenhar o layout com os
              itens abaixo:
            </p>
            <ul>
              <li>1) Adicionar as informações de contato</li>
              <li>2) Incluir um link de contato via WhatsApp do Mandato</li>
              <li>
                3) Ainda manter o formulário utilizando o Google incorporado,
                preferencialmente
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <section id="gallery" class={flex({ flexWrap: "wrap" })}>
      <img
        src="/images/afranio-gallery-01.webp"
        alt="Afrânio"
        class={css({ layerStyle: "galleryImage" })}
      />
      <img
        src="/images/afranio-gallery-02.webp"
        alt="Afrânio"
        class={css({ layerStyle: "galleryImage" })}
      />
      <img
        src="/images/afranio-gallery-03.webp"
        alt="Afrânio"
        class={css({ layerStyle: "galleryImage" })}
      />
      <img
        src="/images/afranio-gallery-04.webp"
        alt="Afrânio"
        class={css({ layerStyle: "galleryImage" })}
      />
    </section>

    <section
      id="help"
      class={css({ py: ["60px 0", "100px 0"], bgColor: "blueDarkBg" })}
    >
      <div
        class={flex({
          layerStyle: "internalContent",
          alignItems: "center",
          flexDirection: ["column", undefined, "row"],
          gap: ["40px", undefined, "60px"],
          flexWrap: ["nowrap", undefined, "wrap", "nowrap"],
        })}
      >
        <h1
          class={css({
            textStyle: "titleFirstLevel",
            color: "white",
            flex: [undefined, undefined, "1 0 100%", "0 1 40%"],
            textAlign: ["center", undefined, "left"],
          })}
        >
          Como você pode ajudar
        </h1>

        <div
          class={css({
            flex: [undefined, undefined, "0 1 45%", "0 1 30%"],
          })}
        >
          <a href="https://doa.la/afranio-boppre" target="_blank"
            ><img src="/images/vaquinha.svg" /></a
          >
        </div>

        <div
          class={css({
            flex: [undefined, undefined, "0 1 45%", "0 1 30%"],
          })}
        >
          <h2
            class={css({
              textStyle: "titleSecondLevel",
              textAlign: ["center", undefined, "left"],
              color: "greenHeader",
              pb: "20px",
            })}
          >
            ACOMPANHE NOSSAS REDES SOCIAIS:
          </h2>
          <div
            class={flex({
              flexWrap: ["nowrap", "wrap"],
              flexDirection: ["column", "row"],
              rowGap: "10px",
              columnGap: "40px",
            })}
          >
            <a
              href="https://www.instagram.com/afranioboppre50/"
              target="_blank"
              class={flex({ layerStyle: "socialHelpLinks" })}
            >
              <img src="/images/social-instagram.svg" />
              <span>Instagram</span></a
            >
            <a
              href="https://www.tiktok.com/@afranioboppre50"
              target="_blank"
              class={flex({ layerStyle: "socialHelpLinks" })}
            >
              <img src="/images/social-tiktok.svg" />
              <span>TikTok</span></a
            >
            <a
              href="https://www.facebook.com/afranioboppre50"
              target="_blank"
              class={flex({ layerStyle: "socialHelpLinks" })}
            >
              <img src="/images/social-facebook.svg" />
              <span>Facebook</span></a
            >
            <a
              href="https://x.com/afranioboppre50"
              target="_blank"
              class={flex({ layerStyle: "socialHelpLinks" })}
            >
              <img src="/images/social-twitter.svg" />
              <span>Twitter</span></a
            >
          </div>
        </div>
      </div>

      <div
        class={css({ h: "70px", mt: ["60px", "100px"], bgColor: "blueBox" })}
      >
      </div>
    </section>

    <section
      id="goodbye"
      class={css({
        bgImage: [
          "url(/images/goodbye_small.webp)",
          "url(/images/goodbye_medium.webp)",
          undefined,
          "url(/images/goodbye_big.webp)",
        ],
        bgRepeat: "no-repeat",
        bgPosition: ["left top", "right top"],
        h: ["550px", "730px"],
      })}
    >
      <div
        class={flex({
          layerStyle: "internalContent",
          justifyContent: ["center", "flex-start"],
          h: "100%",
        })}
      >
        <img
          class={css({
            h: "auto",
            w: ["450px", "550px"],
          })}
          src="/images/logo-big.svg"
          alt="Afrânio 50100"
        />
      </div>
    </section>

    <footer
      class={css({
        bgColor: "#1A1A1A",
        p: "60px 20px",
        textStyle: "footer",
      })}
    >
      <div
        class={flex({
          justifyContent: ["center"],
          flexWrap: ["nowrap", "wrap"],
          flexDirection: ["column", "row"],
          gap: ["20px", "40px"],
        })}
      >
        <a
          href="https://www.instagram.com/afranioboppre50/"
          target="_blank"
          class={flex({ layerStyle: "socialFooterLinks" })}
        >
          <img src="/images/social-instagram.svg" />
          <span>Instagram</span></a
        >
        <a
          href="https://www.tiktok.com/@afranioboppre50"
          target="_blank"
          class={flex({ layerStyle: "socialFooterLinks" })}
        >
          <img src="/images/social-tiktok.svg" />
          <span>TikTok</span></a
        >
        <a
          href="https://www.facebook.com/afranioboppre50"
          target="_blank"
          class={flex({ layerStyle: "socialFooterLinks" })}
        >
          <img src="/images/social-facebook.svg" />
          <span>Facebook</span></a
        >
        <a
          href="https://x.com/afranioboppre50"
          target="_blank"
          class={flex({ layerStyle: "socialFooterLinks" })}
        >
          <img src="/images/social-twitter.svg" />
          <span>Twitter</span></a
        >
      </div>
      <div
        class={css({
          color: "white",
          pt: "20px",
          textAlign: "center",
        })}
      >
        Campanha à vereador Afrânio Boppré
      </div>
      <div
        class={css({
          color: "#AFAFAF",
          pt: "10px",
          textAlign: "center",
        })}
      >
        CNPJ: 0000 00000 000 0000
      </div>
      <img
        class={css({ h: "35px", w: "77px", m: "15px auto 0 auto" })}
        src="/images/psol-logo.svg"
        alt="PSOL"
      />
    </footer>
  </body>
</html>
